.container{
    width: 100%;
}
*{
    margin: 0;
    padding: 0px;
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.eot');
    src: local('Helvetica'),
        url('Helvetica.eot?#iefix') format('embedded-opentype'),
        url('Helvetica.woff2') format('woff2'),
        url('Helvetica.woff') format('woff'),
        url('Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Oblique.eot');
    src: local('Helvetica Oblique'), local('Helvetica-Oblique'),
        url('Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Oblique.woff2') format('woff2'),
        url('Helvetica-Oblique.woff') format('woff'),
        url('Helvetica-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-BoldOblique.eot');
    src: local('Helvetica Bold Oblique'), local('Helvetica-BoldOblique'),
        url('Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-BoldOblique.woff2') format('woff2'),
        url('Helvetica-BoldOblique.woff') format('woff'),
        url('Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Light.eot');
    src: local('Helvetica Light'), local('Helvetica-Light'),
        url('Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Light.woff2') format('woff2'),
        url('Helvetica-Light.woff') format('woff'),
        url('Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
a{
    color: black;
}
@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Bold.eot');
    src: local('Helvetica Bold'), local('Helvetica-Bold'),
        url('Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff'),
        url('Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-LightOblique.eot');
    src: local('Helvetica Light Oblique'), local('Helvetica-LightOblique'),
        url('Helvetica-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('Helvetica-LightOblique.woff2') format('woff2'),
        url('Helvetica-LightOblique.woff') format('woff'),
        url('Helvetica-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

body{
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.main{
    width:75%;
    height: 975px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 150px;
}
.car_block1{
    width: 400px;
    height: 300px;
}
.nav{
    margin-top: 35px;
    margin: 0 auto;
    width: 75%;
    height: 550px;
}
.nav_block{
    width: 75%;
    padding-left: 50px;
}
.article{
    margin: 0 auto;
    width: 75%;
    height: auto;
    margin-left: 100px;
}
.article_p{
    padding-left: 100px;
    line-height: 0.9rem;
    font-size: 0.9rem;
    color:rgb(220, 220, 220);
}
.choose_your_car{
    font-size: 3rem;
    line-height: 4rem;
}
.back_to{
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.more1{
    width: 320px;
    height: 140px;
    background: rgb(220, 220, 220);
    margin-top: 20px;
    margin-left: 170px;
}
.more2{
    width: 320px;
    height: 140px;
    background: rgb(220, 220, 220);
    margin-top: 20px;
    margin-left: 80px;
}
.article_p2{
    padding-left: 40px;
    line-height: 0.9rem;
    font-size: 0.9rem;
    margin-top: 30px;
}
.footer-info {
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}
.footer-info p {
  text-align: left;
  margin-top: 15px;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1rem;
}

.footer-info-second {
  background: rgb(238, 234, 234);
  margin-top: 20px;
  height: 350px;
  width: 100%;
}
.footer-info-second .footer-menu-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-info-second .footer-menu-blocks p {
  margin-top: 75px;
  text-align: left;
  margin-left: 150px;
  display: block;
  font-size: 0.625rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  line-height: 0.75rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
  color: rgb(117, 115, 115);
}
.footer-info-second .footer-menu-blocks ul {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  margin-left: 150px;
}
.footer-info-second .footer-menu-blocks li {
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: rgb(88, 87, 87);
}
.footer-info-second li:hover {
  color: black;
}

.footer-social-media {
  text-align: left;
  margin-left: 150px;
  margin-top: 70px;
  opacity: 0.7;
}
.footer-social-media img {
  margin-right: 20px;
}

.footer {
  width: 100%;
  height: 100px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .bmw-ag {
  text-align: left;
  margin-top: 40px;
  margin-left: 150px;
}
.footer .footer-ag-menu {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
}
.footer .footer-ag-menu p {
  margin-top: 40px;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
}
.footer .footer-ag-menu p:hover {
  color: rgb(11, 63, 175);
}

.bmw-ag-23 {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1rem;
}

.hight {
  margin-top: 100px;
  padding-bottom: 15px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
}
a{
    text-decoration:none;
    cursor: pointer;
}
img{
    cursor: pointer;
}
.button_car{
    color: #696868;
}
.hidden:hover{
    color: black;
}
.b2b {
  width: 260px;
  background: #1C69D4;
  border: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.b2b:hover {
  background: #1556b3;
}

.footer-info-second {
  background: rgb(238, 234, 234);
  margin-top: 20px;
  height: 350px;
}
.footer-info-second .footer-menu-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-info-second .footer-menu-blocks p {
  margin-top: 75px;
  text-align: left;
  margin-left: 150px;
  display: block;
  font-size: 0.625rem;
  font-weight: 300;
  letter-spacing: 0.125rem;
  line-height: 0.75rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
  color: rgb(117, 115, 115);
}
.footer-info-second .footer-menu-blocks ul {
  list-style-type: none;
  margin-top: 20px;
  text-align: left;
  margin-left: 150px;
}
.footer-info-second .footer-menu-blocks li {
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.25rem;
  color: rgb(88, 87, 87);
}
.footer-info-second li:hover {
  color: black;
}

.footer-social-media {
  text-align: left;
  margin-left: 150px;
  margin-top: 70px;
  opacity: 0.7;
}
.footer-social-media img {
  margin-right: 20px;
}

.footer {
  width: 100%;
  height: 100px;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .bmw-ag {
  text-align: left;
  margin-top: 40px;
  margin-left: 150px;
}
.footer .footer-ag-menu {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
}
.footer .footer-ag-menu p {
  margin-top: 40px;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
}
.footer .footer-ag-menu p:hover {
  color: rgb(11, 63, 175);
}

@media (min-width:450px) and (max-width:941px){
    .container{
        width: 99%;
    } 
    .main{
        width:75%;
        height: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px;
        margin-left: 10px;
    }
    .car_block1{
        width: 400px;
        height: 300px;
    }
    .nav{
        width: 99%;
        height: 500px;
    }
    .nav_img{
        width: 99%;
        height: 200px;
        margin: 0;
    }
    .nav_block{
        width: 75%;
        padding-left: 50px;
    }
    .article{
        width: 75%;
        height: 500px;
        margin-left: 100px;
    }
    .article_p{
        line-height: 0.9rem;
        font-size: 0.9rem;
        color:rgb(220, 220, 220);
    }
    .choose_your_car{
        font-size: 3rem;
        line-height: 4rem;
    }
    .back_to{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    
    .more1{
        width: 200px;
        height: 95px;
        background: rgb(220, 220, 220);
    }
    .more2{
        width: 230px;
        height: 95px;
        background: rgb(220, 220, 220);
    }
    .article_p2{
        padding-left: 40px;
        line-height: 0.9rem;
        font-size: 0.9rem;
        margin-top: 30px;
    }
    .footer{
        width: 100%;
        height: 380px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        padding: 50px;
        background: rgb(220, 220, 220);
        margin-top: -100px;
    }
    .footer_div{
        width: 170px;
        height: 350px;
        color: black;
        text-indent: 10px;  
        line-height: 45px;  
    }
    .footer_a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .ig{
        margin-left: -450px;
        margin-top: 30px;
    }
    .fb{
        margin-top: 30px;
    }
    .last{
        margin-left: 100px;
        font-weight: bold;
    } 
    .button_car{
        color: rgb(36, 83, 183);
        font-weight: bold;
        text-decoration: none;
    }
    .aticle_buttons{
        width: 450px;
        height: 95px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: -50px;
    }
}
@media (max-width:450px){
    .container{
        width: 99%;
    } 
    .main{
        width:75%;
        height: 2800px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px;
        margin-left: 10px;
    }
    .car_block1{
        width: 400px;
        height: 300px;
    }
    .nav{
        width: 99%;
        height: 500px;
    }
    .nav_img{
        width: 99%;
        height: 200px;
        margin: 0;
    }
    .nav_block{
        width: 75%;
        padding-left: 50px;
    }
    .article{
        width: 75%;
        height: 550px;
        margin: 5px;
    }
    .article_p{
        padding-left: 100px;
        line-height: 0.9rem;
        font-size: 0.9rem;
        color:rgb(220, 220, 220);
        width: 99%;
    }
    .choose_your_car{
        font-size: 3rem;
        line-height: 4rem;
    }
    .back_to{
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
    .article_p2{
        padding-left: 40px;
        line-height: 0.9rem;
        font-size: 0.9rem;
        margin-top: 30px;
    }
    .footer{
        width: 120%;
        height: 430px;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        padding: 10px;
        background: rgb(220, 220, 220);
        margin-top: -100px;
    }
    .footer_div{
        width: 120px;
        height: 350px;
        color: black;
        text-indent: 10px;  
        line-height: 45px;  
    }
    .footer_a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    .ig{
        margin-left: -450px;
        margin-top: 30px;
    }
    .fb{
        margin-top: 30px;
    }
    .last{
        margin-left: 100px;
        font-weight: bold;
    } 
    .button_car{
        color: rgb(36, 83, 183);
        font-weight: bold;
        text-decoration: none;
    }
}
